
<script src="https://gumroad.com/js/gumroad.js"></script>

<hr>
<div class="center">
  <b>Would you like a free ebooklet?</b>
  <p>
  <a class="gumroad-button" href="https://gum.co/AWmOs" target="_blank">FP for Sceptics: Algebraic Data Types</a>
</div>
<hr>